.container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.container .icon {
  width: 36px;
  height: 36px;
}

.container span {
  font-size: 28px;
}

@media screen and (max-width: 1024px) {
  .container span {
    font-size: 24px;
  }
}
