.container {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 12px;
}

.container .icon {
  width: 36px;
  height: 36px;
}

.container span {
  font-size: 28px;
  color: var(--secondary);
  transition: color var(--link-transition-duration);
  transition-timing-function: var(--expo-out);
}

@media screen and (max-width: 1024px) {
  .container span {
    font-size: 24px;
  }
}

@media screen and (max-width: 640px) {
  .container .icon {
    width: 28px;
    height: 28px;
  }

  .container span {
    font-size: 20px;
  }
}

.container:hover span {
  color: var(--accent);
}
