.marqee {
  overflow: hidden;
}

.text {
  font-size: 64px;
}

@media screen and (max-width: 1024px) {
  .text {
    font-size: 36px;
    line-height: 36px;
  }
}

@media screen and (max-width: 640px) {
  .text {
    font-size: 32px;
    line-height: 32px;
  }
}
