/* Card internals */
.cardHeader {
  display: flex;
  align-items: center;
  padding: 40px 20px;
  height: 130px;
  background: var(--light-shade-black);
  width: 100%;
  transition: all;
  transition-duration: var(--card-transition-duration);
  z-index: 1;
  position: relative;
}

.cardHeader .icon {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  color: var(--accent);
}

.cardHeader .divisorClosed,
.cardHeader .divisorOpen {
  transition: all;
  transition-duration: var(--card-transition-duration);
  width: 10%;
  height: 3px;
  background: var(--light-shade-white);
}

.cardHeader .divisorOpen {
  width: 0%;
}

.cardHeader .title {
  transition: margin-left;
  transition-duration: var(--card-transition-duration);
  text-transform: uppercase;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
  color: var(--secondary);
}

@media screen and (max-width: 640px) {
  .cardHeader .title {
    font-size: 16px;
    margin-right: 8px;
    margin-left: 8px;
    color: var(--secondary);
  }

  .cardHeader .icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }
}

.cardBody {
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  transition: all;
  transition-duration: var(--card-transition-duration);
  transform: translateY(-100%);
  opacity: 0;
  position: relative;
  z-index: 0;
  cursor: default;
}

.cardBody .description {
  font-size: 16px;
  letter-spacing: 4%;
  color: var(--secondary);
}

.cardBody .showcase {
  width: 100%;
  height: 384px;
  object-fit: cover;
  object-position: center center;
}

/* Card container */
.container {
  width: 100%;
  /* max-width: 673px; */
  height: 130px;
  overflow: hidden;
  cursor: pointer;
}

/* Transitions */
.container[data-state="open"] {
  height: 600px;
}

.container[data-state="open"] .cardBody {
  transform: translateY(0%);
  opacity: 1;
}

/* Bg change and padding */
.container[data-state="open"] .cardHeader {
  background: #121212;
  padding: 0px;
  height: 36px;
}

/* Divisor widths */
.container[data-state="open"] .cardHeader .divisorOpen {
  flex: 1;
}

.container[data-state="open"] .cardHeader .divisorClosed {
  width: 0%;
}

/* Spacing in closed state */
.container[data-state="open"] .cardHeader .title {
  margin-left: 0px;
}
