/* Style resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* CSS variables */
:root {
  /* Colors */
  --accent: #f52929;
  --deep-accent: #d21111;
  --primary: #121212;
  --secondary: #fffafa;
  --light-shade-black: #1e1d1d;
  --light-shade-white: rgba(255, 250, 250, 0.2);
  --white-fade: rgba(255, 250, 250, 0.5);

  /* Animation timing */
  --link-transition-duration: 500ms;
  --card-transition-duration: 400ms;

  /* Animation easing functions */
  --expo-out: cubic-bezier(0.16, 1, 0.3, 1);
}

/* Body styling */
body {
  background-color: var(--primary);
  color: var(--secondary);
}

/* Shared styles */
.section {
  width: 90%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 100px 0;
}

.title {
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
  color: var(--secondary);
  max-width: 20ch;
  letter-spacing: 2%;
}

.header .title {
  max-width: 16ch;
}

.title span {
  color: var(--accent);
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media screen and (max-width: 640px) {
  .section {
    padding: 70px 0;
  }

  .title {
    font-size: 32px;
    line-height: 32px;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 36ch;
}

.description p {
  font-size: 16px;
  line-height: 22.4px;
}

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .description {
    gap: 12px;
  }
}
