.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.cards {
  grid-column: span 3;
}

.images {
  position: relative;
  height: 500px;
  grid-column: span 2;
}
