.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  align-items: center;
}

.cards {
  grid-column: span 3;
}

.images {
  position: relative;
  height: 500px;
  grid-column: span 2;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }

  .cards {
    grid-column: span 3;
  }

  .images {
    position: relative;
    height: 500px;
    grid-column: span 3;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 640px) {
  .images {
    height: 400px;
  }
}
