.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gridItem,
.gridItem2,
.gridItem3,
.gridItem4 {
  border-radius: 6px;
  padding: 24px;
}

.gridItem,
.gridItem2,
.gridItem3 {
  position: relative;
  height: 340px;
  grid-column: span 2;
  overflow: hidden;
}

.gridItem {
  grid-column: span 1;
}

.gridItem::before,
.gridItem2::before,
.gridItem3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
      0deg,
      rgba(18, 18, 18, 0.3) 0%,
      rgba(18, 18, 18, 0.3) 100%
    ),
    url("/static/css.jpg"), lightgray -94px -237px / 120.15% 236.994% no-repeat;
  box-shadow: 100px -150px 70px 0px rgba(11, 11, 11, 0.6) inset;
  background-size: cover;
  background-position: 50% 50%;
  transition: transform;
  transition-duration: var(--link-transition-duration);
}

.gridItem3::before {
  background: linear-gradient(
      0deg,
      rgba(18, 18, 18, 0.3) 0%,
      rgba(18, 18, 18, 0.3) 100%
    ),
    url("/static/html2.jpg"),
    lightgray -94px -237px / 120.15% 236.994% no-repeat;
}

.gridItem::before {
  background: url("/static/html.jpg");
  background-position: 50% 50%;
  box-shadow: none;
  background-size: cover;
}

.gridItem:hover::before,
.gridItem2:hover::before,
.gridItem3:hover::before {
  transform: scale(1.1);
}

.gridItem2,
.gridItem3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}

.gridItem2 p:first-child,
.gridItem3 p:first-child {
  color: var(--accent);
}

.gridItem2 p:last-child,
.gridItem3 p:last-child {
  color: var(--white-fade);
}

.gridItem2 h3,
.gridItem3 h3,
.gridItem4 h3 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  max-width: 26ch;
}

.gridItem4 {
  grid-column: span 1;
  height: 340px;
  background: var(--light-shade-black);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gridItem4 p {
  font-size: 16px;
  line-height: 16px;
  color: var(--white-fade);
  margin-bottom: 8px;
}

.gridItem4 h3 {
  max-width: 10ch;
}

.gridItem4 .hoverLink {
  align-self: flex-end;
}

@media screen and (max-width: 1024px) {
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .gridItem3 {
    grid-area: 1/ 1;
    grid-column: span 2;
  }

  .gridItem,
  .gridItem4 {
    grid-column: span 1;
  }

  .gridItem {
    grid-area: 3/ 1;
  }

  .gridItem2 h3,
  .gridItem3 h3,
  .gridItem4 h3 {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 640px) {
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .gridItem,
  .gridItem2,
  .gridItem3,
  .gridItem4 {
    grid-column: span 1;
  }

  .gridItem2,
  .gridItem3 {
    gap: 4px;
  }

  .gridItem2 h3,
  .gridItem3 h3,
  .gridItem4 h3 {
    max-width: 26ch;
    font-size: 20px;
    line-height: 20px;
  }

  .gridItem2 p,
  .gridItem3 p {
    font-size: 12px;
  }
}
