.container {
  position: relative;
  width: 400px;
  height: 520px;
}

.img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  position: absolute;
  transition: z-index, transform;
  transition-duration: var(--link-transition-duration);
}

.hoverLink {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}

@media screen and (min-width: 1024px) and (max-width: 1120px) {
  .img {
    width: 350px;
    height: 450px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 302px;
    height: 384px;
  }

  .img {
    width: 302px;
    height: 384px;
  }
}
